extends default

block content
  include templates/nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h1(class=['ui','header','blue'])= 'Bienvenido a ApartaSoft'
